<link rel="stylesheet" href="/app/app.component.css">

<!-- Toolbar -->
<nav>
  <ul>
    <li><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/news-component" routerLinkActive="active">News</a></li>
    <li><a routerLink="/tasks-component" routerLinkActive="active">Tasks</a></li>
    <li><a routerLink="/tools-component" routerLinkActive="active">Tools</a></li>
  </ul>
</nav>

<!-- Welcome Banner / Angular Logo -->
<div class="container">
  <router-outlet>
  </router-outlet>
</div>


